body {
  background-color: #a79c93;
}

.jumbotron {
  background: #03353e;
  color: white;
}

#wins {
  margin-left: 10px;
}

#losses {
  margin-left: 10px;
}

#guesses-left {
  margin-left: 10px;
}

#guesses-so-far {
  margin-left: 10px;
}
